.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0); /* Fully transparent */
  color: rgb(47, 46, 46);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(8px); /* Optional glass effect */
}
.navbar .logo {
  color: rgb(255, 33, 33) !important;
}

[data-theme="dark"] .navbar .logo {
  color: rgb(255, 33, 33) !important;
}


.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 33, 33);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'Lora', serif;
}

.logo:hover {
  color: #3e05ea !important;
}
[data-theme="dark"] nav .logo:hover {
  color: #ffffff !important;
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: rgb(255, 33, 33);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #3e05ea;
}

/* Add space to prevent content overlap */
main {
  padding-top: 80px; 
}
